/* I'm a little confused as to when to use px,rem or % so this may need tidying up.
I've found flexbox and media queries quite difficult so it may need a little tidying up too.
I am also no 100% sure yet on what style I want the page to be so is also subject to some ammendments */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Body {
  background-color: #cad2c5;
}

img {
  width: 100%;
}

h3 {
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1.2rem;
}

/* Hero Section Start*/

.hero-container {
  position: relative;
  text-align: left;
  color: whitesmoke;
}

.hero-container img {
  width: 100%;
  height: 525px;
  object-fit: cover;
}

#name {
  color: whitesmoke;
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  padding: 0.5rem;
}

.hero-text h2 {
  font-size: 1.3rem;
  padding: 0.5rem;
}

.hero-text button {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1rem;
  color: white;
  background-color: #a99884;
  border: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.hero-text {
  top: 50%;
  width: 96%;
  margin-right: 2rem;
  padding: 1rem 8rem 1rem 1.25rem;
  position: absolute;
  font-family: "Nanum Gothic Coding", monospace;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 0 15px 15px 0;
}

.icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  margin: 1rem;
  list-style-type: none;
  color: whitesmoke;
}

#linkedin,
#github {
  padding-right: 0.5rem;
}
/* Hero Section End*/

/* About me Section Start */

.about-me {
  background-color: #84a98c;
  color: #354f52;
  padding: 1.25rem 0 1.25rem 0;
  margin: 30px 0 30px 0;
}

#about-me {
  color: #354f52;
}

#bio {
  background-color: whitesmoke;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 30px;
  box-shadow: 0 5px 15px rgba(82, 82, 82, 0.5);
  border-radius: 15px 0 0 15px;
  margin: 30px 0 30px 30px;
  padding: 30px;
}

/* About me Section End */

/* Portfolio Section Start*/

#portfolio {
  color: whitesmoke;
}

.portfolio {
  background-color: #354f52;
  padding: 1.25rem 0 50px 0;
  margin-bottom: 30px;
}

.card {
  background-color: #cad2c5;
  margin: 30px auto;
  width: 320px;
  height: 650px;
  box-shadow: 0 5px 15px rgba(82, 82, 82, 0.5);
  border-radius: 20px;
}

.card-img {
  width: 320px;
  height: 350px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  color: #354f52;
  font-family: "Staatliches", cursive;
  text-align: center;
  padding-top: 20px;
}

.card-text ul {
  font-family: "Nanum Gothic Coding", monospace;
  color: #354f52;
  list-style-type: none;
  text-align: center;
  padding: 10px 0 20px 0;
  margin: 10px;
  line-height: 30px;
}

/* Portfolio Section End */

/* Contact Section Start */

.contacts {
  background-color: #84a98c;
  padding: 2rem;
}

.form-icons {
  width: 350px;
  margin: 2rem auto;
}

.hyperlink {
  color: #354f52;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

#linkedin-form,
#github-form {
  padding: 0.5rem;
  margin: 0.5rem auto;
  list-style-type: none;
  color: #354f52;
}

/*I have tried to vertical-align the hyperlink and the icons to middle to line them up but i just cannot figure out why they wont */

/* Form section start */

#form {
  font-family: "Staatliches", cursive;
  padding: 0 20px 20px 20px;
  font-size: 2rem;
}

#contact-form {
  width: 350px;
  margin: 2rem auto;
  background-color: #cad2c5;
  color: #354f52;
  font-family: "Nanum Gothic Coding", monospace;
  box-shadow: 0 5px 15px rgba(82, 82, 82, 0.5);
  border-radius: 20px;
  padding: 25px;
}

input,
#message {
  font-family: "Nanum Gothic Coding", monospace;
  width: 300px;
  padding: 10px 16px 10px 16px;
  margin: 8px 0px 8px 0px;
  border-radius: 5px;
  border: none;
}

#submit {
  width: 100%;
  background-color: #a99884;
  color: #354f52;
  padding: 14px 20px 14px 20px;
  margin: 8px 0px 8px 0px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

/* Form Section End */

/*Content section end */

/* Footer section start */

footer {
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  padding: 1.5rem;
}

/* Footer section end */

/* Media queries start */

@media screen and (min-width: 40em) {
  .hero-text button:hover {
    transform: scale(1.1);
  }

  .icons :hover {
    transform: scale(1.1);
  }
  /* Portfolio section start */

  .card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* Portfolio Section end */

  /*contact section start */

  .contacts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  #contact-form {
    margin: 30px auto;
  }

  #submit:hover {
    transform: scale(1.1);
  }

  .form-icons {
    align-self: center;
    justify-self: left;
  }

  .form-icons :hover {
    transform: scale(1.1);
  }
  /* contact section end */
}

@media screen and (min-width: 64em) {
  #name {
    font-size: 4rem;
    padding: 0.5rem 0.7rem;
  }

  .hero-text h2 {
    font-size: 1.8rem;
    padding: 0.7rem;
  }

  .hero-text {
    top: 35%;
  }
}
